*{
    margin:0;
    padding: 0;
    
}


.userScore{

    background: linear-gradient(to right, rgb(96, 128, 0) ,rgb(153, 255, 0) ,rgb(211, 211, 17));
    text-align: center;
    padding: 17px;
}

.game{
    background:  linear-gradient(to right, rgb(96, 128, 0) ,rgb(153, 255, 0) ,rgb(211, 211, 17));
    box-shadow: 0px 0px 5px 4px black;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    height: 30vh;
}
p{
    font-size: 24px;
}

.btn{
padding: 9px 25px;
margin-top: 30px;
border-radius: 10px;
}